<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title> {{title}} </title>
  <link href='style.css' rel='stylesheet'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.6.0/katex.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.6.0/katex.min.js"></script> 
  <script type="text/javascript">
    window.onload = function() {
      var mathElements = document.getElementsByClassName("math");
      for (var i=0; i < mathElements.length; i++) {
        var texText = mathElements[i].firstChild
        katex.render(texText.data, mathElements[i])
      }
    }
  </script>
</head>
<body>
  {{ content }}
</body>
</html>
