<!DOCTYPE html>
<html lang="en">
<head>
  <title> {{title}} </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link href='/style.css' type='text/css' rel='stylesheet'>
  <link href="https://fonts.googleapis.com/css?family=Merriweather:400,400italic|Source+Code+Pro|Source+Sans+Pro:300" rel="stylesheet" type="text/css">
  {% if math %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.6.0/katex.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.6.0/katex.min.css">
  {% endif %}
  <script type="text/javascript">
    window.onload = function() {
      var mathElements = document.getElementsByClassName("math");
      for (var i=0; i < mathElements.length; i++) {
        var texText = mathElements[i].firstChild
        katex.render(texText.data, mathElements[i])
      }
    }
  </script>
</head>
<body>
  {% include "site_header.html" %}
  <article>
  {{ content }}
  </article>
</body>
</html>
